body {
    background-color: rgb(238, 238, 238);
    margin: 15px; 
    font-family: arial;
}

header {
    margin-bottom: 40px;
}

hr {
    width: 30%;
}

aside {
    float: left; 
    background-color: rgb(54, 34, 109);
    min-width: 180px;
    height: 710px;
    color: rgb(227, 224, 224);
    margin-right: 30px;
}

aside h3 {
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 80%;
}

.exp {
    display: block;
}

.exp p {
    line-height: 1.5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.localidade {
    opacity: 50%;
}

.descricao {
    line-height: 2px;
}

section {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-sizing: border-box;
    overflow: hidden;
}

section h2, h3, p {
    margin-left: 25px;
}

ul {
    margin-left: 20px;
}