<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento concluído</title>
    <script src="https://kit.fontawesome.com/291cf6cb9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/CSS/tela-pagamento.css">
</head>
<body>
    <div class="pagamento">
        <i class="fa-solid fa-circle-check"></i>
        <h2 id="txtPagamento">Pagamento concluído!</h2>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = "comandas.html"
        }, 2800); 
    </script>
</body>
</html>