* {
    font-family: arial;
}

:root {
    background-color: rgb(239, 239, 239);
}

main {
    max-width: 40%;
    margin: 100px auto;
    padding: 30px;
    padding-top: 40px;
    min-height: 400px;
    border-radius: 10px;
    box-shadow: rgb(198, 198, 200) 0px 8px 24px;
}

#tentativas {
    color: rgb(79, 79, 150);
    font-weight: bolder;
}

h1 {
    color: rgb(79, 79, 150);
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    transition: .4s;
}

h1:hover {
    color: rgb(54, 54, 102);
}

.form {
    text-align: center;
}

#restart-game {
    margin-top: 15px;
}

#restart-game span {
    display: block;
}

button {
    background-color: rgb(79, 79, 150);
    color: white;
    border-radius: 5px;
    padding: .5rem;
    width: 20%;
    border: none;
    cursor: pointer;
    transition: .4s;
}

button:hover {
    background-color: rgb(54, 54, 102);
}

#inp-texto {
    background-color: transparent;
    border: none;
    padding: 5px;
    text-align: center;
    outline: none;
    font-size: 1em;
}

#inp-texto:focus {
    border-bottom: 1px solid rgb(79, 79, 150)
}

#btnReiniciar {
    margin-top: 10px;
}