* {
    font-family: arial ;
}

main {
    max-width: 40%;
    margin: 100px auto; 
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1 {
    text-align: center;
}

.form {
    text-align: center;
}

#restart-game {
    margin-top: 15px;
}

#restart-game span {
    display: block;
}

button {
    width: 100px;
}