body {
    font-family: arial;
    background-color: gray;
}

#titulo {
    text-align: center;
}

.box {
    background-color: white;
    padding: 20px; 
}

.lists {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.lists ul {
    display: inline-block;
    background-color: rgb(35, 35, 35);
    width: 300px;
    min-height: 500px;
    border-radius: 10px;
    margin: 10px;
}



