body {
    font-family: arial;
}

#titulo {
    text-align: center;
}

.box {
    background-color: white;
    padding: 20px; 
}

.lists {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
}

.lists ul {
    display: inline;
    background-color: rgb(35, 35, 35);
    width: 320px;
    min-height: 650px;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
}

.list-title {
    color: rgb(226, 224, 224);
    text-align: center;
}

#titulo {
    font-size: 2.5em;
}

#pending {
    color: rgb(220, 68, 68);
}

#completed {
    color: rgb(33, 207, 33) ;
}

#inprogress {
    color: rgb(132, 193, 231);
}

.task {
    background-color: rgb(58, 58, 58);
    color: white;
    font-size: 1.1em;
    list-style-type: none;
    line-height: 1.8em;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.task:hover {
    background-color: rgb(77, 76, 76);
    transition: .2s;
}

.fa-circle {
    font-size: 0.5em;
    margin-right: 10px;
    text-align: center;
}

.fa-pen-to-square, .fa-trash {
    float: right;
    margin-top: 8px
}

.task > button {
    float: right;
    color: white;
    font-size: 0.85em;
    background: none;
    border: none;
    cursor: pointer;
}

.task > button:hover {
    color: rgb(153, 152, 152);
    transition: transform .3s;
    transform: scale(1.2);
}

.inputs{
    padding: 5px;
}

