body {
    font-family: arial;
}

#titulo {
    text-align: center;
}

.box {
    background-color: white;
    padding: 20px; 
}

.lists {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.lists ul {
    display: inline;
    background-color: rgb(35, 35, 35);
    width: 320px;
    min-height: 500px;
    border-radius: 10px;
    margin-right: 10px;
}

.list-title {
    color: rgb(226, 224, 224);
}

ul > li {
    color: white;
}

