<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <script src="https://kit.fontawesome.com/291cf6cb9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style_home.css">
</head>

<body>
    <div class="box">
        <h1 id="titulo">Lista de Tarefas</h1>
        <div class="task-box">
            <div class="inputs">
                <input type="text" id="task-input" placeholder="Digite o nome da tarefa...">
                <select id="status-select">
                    <option></option>
                    <option>Pendente</option>
                    <option>Em Progresso</option>
                    <option>Concluído</option>
                </select>
                <button id="addTask">Adicionar</button>
            </div>
            <div class="lists">
                <ul class="list-tasks" id="tasks-pending">
                    <h2 id="pending" class="list-title"><i class="fa-solid fa-circle"></i>Pendente</h2>
                </ul>
                <ul class="list-tasks" id="tasks-inprogress">
                    <h2 id="inprogress" class="list-title"><i class="fa-solid fa-circle"></i>Em Progresso</h2>
                </ul>
                <ul class="lists-tasks" id="tasks-completed">
                    <h2 id="completed" class="list-title"><i class="fa-solid fa-circle"></i>Concluídas</h2>
                </ul>
            </div>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>