<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/static/style_login.css">
</head>
<body>
    <form class="login-box" action="">
        <label for="userInput">Usuário:</label>
        <input type="text" id="userInput">
        <label for="passwordInput">Senha:</label>
        <input type="password" id="passwordInput">
        <button type="submit" id="btnLogin">Enviar</button>
    </form>
</body>
</html>