<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles_login.css">
    <title>Tela de Login</title>
</head>

<body>

    <div class="login-box">
        <!-- Tela de Login -->
        <h1 id="titulo-login">Login</h1>
        <form action="/login" method="post">
            <div class="box-input">
                <i class="fa-solid fa-circle-user"></i>
                <input type="text" id="username" placeholder="Digite seu usuário:">
            </div>
            <div class="box-input">
                <i class="fa-solid fa-lock"></i>
                <input type="password" id="password" placeholder="Digite sua senha:">
            </div>
            <button class="login-button" type="submit">Entrar</button>
            <a id="sign-in" href="/views/registrar.html">Não possui uma conta? Registrar-se</a>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/291cf6cb9c.js" crossorigin="anonymous"></script>
</body>
</html>